@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-seahawks-navy text-seahawks-gray antialiased selection:bg-seahawks-green/30;
  }
}

/* TipTap Editor Styles */
.ProseMirror {
  @apply outline-none min-h-[calc(100vh-12rem)] pb-32 max-w-3xl mx-auto;
}

.ProseMirror p {
  @apply mb-4 leading-relaxed;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #52525b;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}